In [ ]:
# How to merge multiple csv files into one datafram and save to a csv file

In [31]:
import os
import glob
import pandas as pd
import csv
import pathlib

In [32]:
pwd

'/Users/johngore/Desktop/USC/Homework/tableau_hw/Resources/Data/Summer'

In [33]:
ls

citibike-tripdata-201906.csv  citibike-tripdata-201908.csv
citibike-tripdata-201907.csv

In [34]:
os.chdir("/Users/johngore/Desktop/USC/Homework/tableau_hw/Resources/Data/Summer")

In [35]:
pwd

'/Users/johngore/Desktop/USC/Homework/tableau_hw/Resources/Data/Summer'

In [36]:
ls

citibike-tripdata-201906.csv  citibike-tripdata-201908.csv
citibike-tripdata-201907.csv

In [37]:
file_extension = ".csv"

In [38]:
all_filenames = [i for i in glob.glob(f"*{file_extension}")]

In [39]:
print(all_filenames)

['citibike-tripdata-201908.csv', 'citibike-tripdata-201907.csv', 'citibike-tripdata-201906.csv']

In [40]:
all_filenames = [i for i in glob.glob(f"*{file_extension}")]
all_data = (pd.read_csv(f, sep=',') for f in all_filenames)
merged_data = pd.concat(all_data, ignore_index=True)

In [41]:
combined_data = pd.DataFrame(merged_data)

In [42]:
combined_data.tail(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
6650648,288,2019-06-30 23:59:24.3490,2019-07-01 00:04:12.7220,3721.0,31 St & Newtown Ave,40.767549,-73.920933,3662.0,31 Ave & Steinway St,40.761294,-73.916917,33821,Subscriber,1979,1
6650649,132,2019-06-30 23:59:27.6150,2019-07-01 00:01:39.9310,317.0,E 6 St & Avenue B,40.724537,-73.981854,3718.0,E 11 St & Avenue B,40.727464,-73.979504,34378,Subscriber,1960,1
6650650,338,2019-06-30 23:59:27.9970,2019-07-01 00:05:06.5330,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,3263.0,Cooper Square & Astor Pl,40.729515,-73.990753,16901,Subscriber,1973,2
6650651,612,2019-06-30 23:59:28.0220,2019-07-01 00:09:40.2120,491.0,E 24 St & Park Ave S,40.740964,-73.986022,494.0,W 26 St & 8 Ave,40.747348,-73.997236,38598,Subscriber,1982,1
6650652,528,2019-06-30 23:59:32.0800,2019-07-01 00:08:20.2200,514.0,12 Ave & W 40 St,40.760875,-74.002777,458.0,11 Ave & W 27 St,40.751396,-74.005226,15360,Customer,1969,0
6650653,232,2019-06-30 23:59:32.8920,2019-07-01 00:03:25.6310,3113.0,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,3107.0,Bedford Ave & Nassau Ave,40.723117,-73.952123,25779,Subscriber,1972,1
6650654,477,2019-06-30 23:59:33.6990,2019-07-01 00:07:31.0440,445.0,E 10 St & Avenue A,40.727408,-73.981420,3737.0,Stanton St & Norfolk St,40.720747,-73.986274,39522,Subscriber,1981,2
6650655,300,2019-06-30 23:59:47.4050,2019-07-01 00:04:48.1850,3307.0,West End Ave & W 94 St,40.794165,-73.974124,3320.0,Central Park West & W 100 St,40.794067,-73.962868,26730,Subscriber,1981,1
6650656,906,2019-06-30 23:59:51.5980,2019-07-01 00:14:58.3210,402.0,Broadway & E 22 St,40.740343,-73.989551,400.0,Pitt St & Stanton St,40.719261,-73.981780,38286,Subscriber,1996,1
6650657,1270,2019-06-30 23:59:54.3670,2019-07-01 00:21:05.2750,3788.0,E 12 St & 4 Av,40.732690,-73.989740,326.0,E 11 St & 1 Ave,40.729538,-73.984267,38742,Subscriber,1967,1

In [43]:
combined_data.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,6.650658e+06,6.650515e+06,6.650658e+06,6.650658e+06,6.650515e+06,6.650658e+06,6.650658e+06,6.650658e+06,6.650658e+06,6.650658e+06
mean,1.064229e+03,1.675524e+03,4.073682e+01,-7.398187e+01,1.671561e+03,4.073648e+01,-7.398200e+01,2.896740e+04,1.980648e+03,1.156331e+00
std,1.224107e+04,1.477822e+03,3.077123e-02,2.035147e-02,1.478369e+03,3.072060e-02,2.045983e-02,7.454483e+03,1.198337e+01,5.642781e-01
min,6.100000e+01,7.200000e+01,4.065540e+01,-7.402535e+01,7.200000e+01,4.065540e+01,-7.406860e+01,1.452900e+04,1.885000e+03,0.000000e+00
25%,3.890000e+02,3.820000e+02,4.071689e+01,-7.399596e+01,3.800000e+02,4.071625e+01,-7.399612e+01,2.169800e+04,1.970000e+03,1.000000e+00
50%,6.720000e+02,5.140000e+02,4.073705e+01,-7.398518e+01,5.140000e+02,4.073625e+01,-7.398565e+01,3.033200e+04,1.983000e+03,1.000000e+00
75%,1.180000e+03,3.296000e+03,4.075725e+01,-7.397101e+01,3.298000e+03,4.075715e+01,-7.397101e+01,3.423300e+04,1.990000e+03,1.000000e+00
max,3.812666e+06,3.810000e+03,4.086900e+01,-7.387800e+01,3.810000e+03,4.086900e+01,-7.387800e+01,4.002500e+04,2.003000e+03,2.000000e+00

In [44]:
combined_data['gender'] = combined_data['gender'].replace([0, 1, 2],['Undisclosed','Male','Female'])

In [45]:
combined_data.tail(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
6650648,288,2019-06-30 23:59:24.3490,2019-07-01 00:04:12.7220,3721.0,31 St & Newtown Ave,40.767549,-73.920933,3662.0,31 Ave & Steinway St,40.761294,-73.916917,33821,Subscriber,1979,Male
6650649,132,2019-06-30 23:59:27.6150,2019-07-01 00:01:39.9310,317.0,E 6 St & Avenue B,40.724537,-73.981854,3718.0,E 11 St & Avenue B,40.727464,-73.979504,34378,Subscriber,1960,Male
6650650,338,2019-06-30 23:59:27.9970,2019-07-01 00:05:06.5330,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,3263.0,Cooper Square & Astor Pl,40.729515,-73.990753,16901,Subscriber,1973,Female
6650651,612,2019-06-30 23:59:28.0220,2019-07-01 00:09:40.2120,491.0,E 24 St & Park Ave S,40.740964,-73.986022,494.0,W 26 St & 8 Ave,40.747348,-73.997236,38598,Subscriber,1982,Male
6650652,528,2019-06-30 23:59:32.0800,2019-07-01 00:08:20.2200,514.0,12 Ave & W 40 St,40.760875,-74.002777,458.0,11 Ave & W 27 St,40.751396,-74.005226,15360,Customer,1969,Undisclosed
6650653,232,2019-06-30 23:59:32.8920,2019-07-01 00:03:25.6310,3113.0,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,3107.0,Bedford Ave & Nassau Ave,40.723117,-73.952123,25779,Subscriber,1972,Male
6650654,477,2019-06-30 23:59:33.6990,2019-07-01 00:07:31.0440,445.0,E 10 St & Avenue A,40.727408,-73.981420,3737.0,Stanton St & Norfolk St,40.720747,-73.986274,39522,Subscriber,1981,Female
6650655,300,2019-06-30 23:59:47.4050,2019-07-01 00:04:48.1850,3307.0,West End Ave & W 94 St,40.794165,-73.974124,3320.0,Central Park West & W 100 St,40.794067,-73.962868,26730,Subscriber,1981,Male
6650656,906,2019-06-30 23:59:51.5980,2019-07-01 00:14:58.3210,402.0,Broadway & E 22 St,40.740343,-73.989551,400.0,Pitt St & Stanton St,40.719261,-73.981780,38286,Subscriber,1996,Male
6650657,1270,2019-06-30 23:59:54.3670,2019-07-01 00:21:05.2750,3788.0,E 12 St & 4 Av,40.732690,-73.989740,326.0,E 11 St & 1 Ave,40.729538,-73.984267,38742,Subscriber,1967,Male

In [46]:
shape = combined_data.shape

In [47]:
shape

(6650658, 15)

In [48]:
combined_data.to_csv("Citibike_Data_Summer2019.csv", index=False)